<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterUtilisateurServlet</servlet-name>
        <servlet-class>controllers.AjouterUtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerUtilisateurServlet</servlet-name>
        <servlet-class>controllers.SupprimerUtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierUtilisateurServlet</servlet-name>
        <servlet-class>controllers.ModifierUtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereServlet</servlet-name>
        <servlet-class>controllers.MatiereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteCoursServlet</servlet-name>
        <servlet-class>controllers.NoteCoursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentaireServlet</servlet-name>
        <servlet-class>controllers.UpdateCommentaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatistiqueController</servlet-name>
        <servlet-class>controllers.StatistiqueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterUtilisateurServlet</servlet-name>
        <url-pattern>/AjouterUtilisateurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerUtilisateurServlet</servlet-name>
        <url-pattern>/SupprimerUtilisateurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierUtilisateurServlet</servlet-name>
        <url-pattern>/ModifierUtilisateurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereServlet</servlet-name>
        <url-pattern>/MatiereServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteCoursServlet</servlet-name>
        <url-pattern>/NoteCoursServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentaireServlet</servlet-name>
        <url-pattern>/UpdateCommentaireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatistiqueController</servlet-name>
        <url-pattern>/StatistiqueController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
